<?xml version="1.0"?>   
	<config>   
		<global>   
			<modules>   
				<mayank_helloworld>   
					<version>0.1.0</version>   
				</mayanks_helloworld>   
			</modules>   
			<blocks>   
				<helloworld>   
					<rewrite>   
						<helloworld>Mayank_Helloworld_Block_Helloworld</helloworld>
					</rewrite>   
				</helloworld>   
			</blocks>
		</global>   
		<frontend>   
		<routers>   
			<helloworld>   
				<use>standard</use>   
				<args>   
					<module>Mayank_Helloworld</module>
					<frontName>helloworld</frontName>
				</args>
			</helloworld>   
		</routers>   
		<layout>
			<updates>   
				<helloworld>   
					<file>helloworld.xml</file>   
				</helloworld>   
			</updates>   
		</layout> 
	</frontend>   
	</config>